# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Backup files
*~

Makefile
autom4te.cache/output.0
autom4te.cache/requests
autom4te.cache/traces.0
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
