Requirements

GUI to allow for input specification
Threaded?
Different algorithm support/ even external programs
Different output forms
Different inputs support


Software Quality Attributes
Usability
Efficiency
Portability
